@model HomeIndexViewModel
@{
    ViewData["Title"] = "All Courses";
}
<br />
<div class="jumbotron">
    <h2 class="text-center">Welcome to our Learning System!</h2>
    <img src="~/images/men-book.png" />
    <a href="/">
        <img src="~/images/men-book-cars.png" />
    </a>
</div>

<form asp-action="Search">
    <div class="row">
        <div class="col-md-4">
            <input asp-for="Search" placeholder="Search . . . " class="form-control" />
        </div>
        <div class="col-md-2">
            <input asp-for="SearchInUsers" placeholder="Search . . . " />
            <label asp-for="SearchInUsers"></label>
        </div>
        <div class="col-md-2">
            <input asp-for="SearchInCourses" placeholder="Search . . . " />
            <label asp-for="SearchInCourses"></label>
        </div>
        <div class="col-md-4">
            <button type="submit" class="form-control btn btn-primary">Search</button>
        </div>
    </div>   
</form>
<br />

@foreach (var course in Model.Courses)
{
    var description = course.Description == null ? string.Empty : course.Description;
    if (description.Length > 50)
    {
        description = $"{description.Substring(0, 50)} ...";
    }

    <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@course.Name</h3>
                </div>
                <div class="panel-body">
                    @description
                    <br />
                    @course.StartDate.ToShortDateString() - @course.EndDate.ToShortDateString()
                </div>
            </div>
        </div>
    </a>
}

