@model IEnumerable<CourseListingServiceModel>
@{
    ViewData["Title"] = "All Courses";
}

<div class="jumbotron">
    <h2 class="text-center">Welcome to our Learning System!</h2>
</div>

@foreach (var course in Model)
{
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@course.Name</h3>
        </div>
        <div class="panel-body">
            @course.Description
            <br />
            @course.StartDate.ToShortDateString() - @course.EndDate.ToShortDateString()
        </div>
    </div>
</div>
}

